<div class="container">
    <header class="header">
      <h1>La Recherche du mots perdus</h1>
      <nav class="navbar">
        <a routerLink="/home" routerLinkActive="active" aria-label="Go to Home page">Home</a>
        <a routerLink="/upload-file" routerLinkActive="active" aria-label="Add a new book">Add Books</a>
        <a routerLink="/query" routerLinkActive="active" aria-label="Query existing books">Query books</a>
      </nav>
    </header>
  
    <footer class="footer">
      <p>&copy; 2025 Isaac Rosenthal. All rights reserved.</p>
    </footer>
  </div>
